// colors
    // primary
    $str_cyan:hsl(171, 66%, 44%);
    $ligh_blue:hsl(233, 100%, 69%);
    // neutral
    $dark_grayish_blue:hsl(210, 10%, 33%);
    $grayish_blue:hsl(201, 11%, 66%);

// Typography
    $body_font_size:30px;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
$font: 'Bai Jamjuree', sans-serif;

*,body{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    text-align: center;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    @mixin h1 {
        font-size: $body_font_size;
        font-family: $font;
        color: $dark_grayish_blue;
        font-weight: 600;
    }
    @mixin p {
        font-size: 16.2px;
        font-family: $font;
        color: $grayish_blue;
        font-weight: 400;
        line-height: 1.5rem;
    }
    @mixin button {
        box-sizing: border-box;
        padding: 1rem;
        color: white;
        text-decoration: none;
        font-family: $font;
        font-weight: 600;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        &:hover{
            filter: brightness(120%);
        }           
    }
    @mixin flex {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 2rem;        
    }
    header{
        display: flex;
        flex-direction: column;
        gap: 0px;
        .logo{
            padding: 5rem;
            background: url(./images/bg-header-mobile.png);
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: 0 0 120px 8px white inset;
            .logo-c{
                width: 60%;
            }
        }
        .download{
            @include flex;
            h1{
                @include h1;
            }
            p{
                @include p;
                padding-bottom:2rem; 
            }
            .download-button{
                display: flex;
                flex-direction: column;
                gap :20px;
            }
            .button-ios{
                @include button;
                background-color: $str_cyan;        
            }
            .button-mac{
                @include button;
                background-color: $ligh_blue;
            }

        }
    }
    .section1{
        header{
            @include flex;
        }

        h1{
            @include h1;
        }
        p{
            @include p;
        }
        .features{
            @include flex;
            .desktop{
                padding-top: 3rem;
                width: 100%;
                height: 100%;
            }
            .feature1{
                h1{
                    padding: 1rem 0rem;
                }
            }
            .feature2{
                h1{
                    padding: 1rem 0rem;
                }
            }
            .feature3{
                h1{
                    padding: 1rem 0rem;
                }
            }

        }
    }
    .section2{
        article{
            @include flex;
        }
        h1{
            @include h1;
            padding: 2rem 0rem;
        }
        p{
            @include p;
            
        }
    }
    .section3{
        article{
            @include flex;
        }
        header{            
            padding-bottom: 4rem;
            h1{
                padding-bottom: 1rem
            }
        }
        h1{
            @include h1;
        }
        p{
            @include p;
        }
        @mixin flow {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin: 1rem 0rem;
            img{
                width: 13%;
                align-self: center;
            }
        }
        .flow1{
            @include flow;
        }
        .flow2{
            @include flow;
        }
        .flow3{
            @include flow;
        }
    }
    .section4{
        @include flex;
        margin-bottom: 3rem;
        img{
            align-self: center;
            width: 40%;
            padding: 2rem 0rem 0rem 0rem;
        }
    }
    .section5{
        margin: 0rem 0rem 10rem 0rem;
        article{
            @include flex;
            header{
                display: flex;
                flex-direction: column;
                gap: 20px;
                h1{
                    @include h1;
                }
                p{
                    @include p;
                }            
            }
            .download-button{
                display: flex;
                flex-direction: column;
                gap :20px;
            }
            .button-ios{
                @include button;
                background-color: $str_cyan;        
            }
            .button-mac{
                @include button;
                background-color: $ligh_blue;
            }
        }
    }
}
footer{
    display: flex;
    flex-direction: column;
    background-color: #f5f6f8;
    align-items: center;
    gap: 20px;
    padding: 0rem 0rem 1rem 0rem;
    .logo-footer{
        width: 15%;
        padding: 4rem 0rem 2rem 0rem ;
    }

    .footer-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 0rem 0rem 1rem 0rem;
        a{
            text-decoration: none;
            color: $dark_grayish_blue;
            font-family: $font;
            font-weight: 400;
            font-size: 18px;
        }
    }
    .social-media{
        display: flex;
        flex-direction: row;
    }
    img{
        padding: 1rem 1rem 0rem 1rem;
    }
}
@media (min-width:1440px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .logo-footer{
            width: 4%;
            align-self:center;
            padding: 2rem 0rem 1rem 0rem;
        }
        .footer-links{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            align-self: center;
            padding: 2rem 0rem 1rem 4rem;
        }
        .social-media{
            align-self: center;
            padding: 2rem 0rem 1rem 10rem;
        }
    }
    main{
        @mixin header {
            margin: 2rem  20rem;
            h1{
                font-size: 40px;
            }
            p{
                font-size: 19px;
                line-height: 30px;
            }           
        }
       header{
            .logo{
                padding: 5rem;
                background: url(./images/bg-header-desktop.png);
                background-repeat: no-repeat;
                background-size: cover;
                box-shadow: 0 0 120px 8px white inset;
                .logo-c{
                    width: 10%;
                }
                
            }
            .download{
                margin: 0rem 20rem;
                h1{
                    font-size: 45px;
                }
                p{
                    font-size: 20px;
                    line-height: 30px;
                }
                .download-button{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }
                .button-ios{
                    padding: 1rem 3rem;
                }
                .button-mac{
                    padding: 1rem 3rem;
                }
            }
        }
        .section1{
            header{
                @include header;
            }
            .features{
                display: flex;
                flex-direction: row;
                text-align: left;
                align-items: center;
                .desktop{
                    position: relative;
                    width: 100%;
                    display: block;
                    left: -5rem;
                    overflow:hidden;
                }
                .feature{
                    display: flex;
                    flex-direction: column;
                    gap: 50px;
                    margin: 0rem 10rem 0rem 0rem;
                    padding: 0rem 4rem 0rem 0rem;
                    h1{
                        font-size: 25px;
                    }
                    p{
                        line-height: 30px;
                    }
                }
            }
        }
        .section2{
            header{
                @include header;
            }
            .devices{
                align-self: center;
                width: 60%;
            }
        }
        .section3{
            header{
                @include header;
            }
            .flows{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                justify-items: center;
                align-items: center;
                img{
                    width: 8%;
                    align-self: center;
                }
            }            
        }
        .section4{
            display: grid;
            grid-template-columns: repeat(5,1fr);
            justify-items: center;
        }
        .section5{
            article{
                header{
                    @include header;                    
                }
                .download-button{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }
                .button-ios{
                    padding: 1rem 3rem;
                }
                .button-mac{
                    padding: 1rem 3rem;
                }
            }
        }
    }
}
